
.container-slider {
    max-width: 1200px;
    overflow: hidden;
    padding: 40px 0;
}

.container-slider-single {
    width: 350px;
    height: 350px;
    background-color: purple;
}

.container-slider-single {
    float: left;
    padding: 15px;
    border-radius: 10px;
}


.slick-slide {
    margin-left: 27px;

}

/* the parent */
.slick-list {
    margin-left: -27px;
}

/****SLICK SLIDER****/


.slick-dotted ul {
    display: block;
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 30px;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button {
    background: #373855;
    color: #373855;
}

.slick-slide:focus {
    outline: none;
}

.section1 .slide-button {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section1 .slide-button .button {
    background-color: #008ebd;
    padding: 20px 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 13.5px;
}


@media screen and (max-width:500px){

    .container-slider-single {
        width: 100%;
        padding: 0;
        height: 350px;
    }

    .slick-dotted li button {
        display: none;
    }

    .section1 .slide-button {
        margin-top: -50px;
    }

    .section1 .slide-button .button {
        width: 100%;
        font-size: 13px;
        display: flex;
        justify-content: center;
    }
    
}

@media screen and (max-width:400px){
    .container-slider-single {
        width: 100%;
        height: 300px;
    }

    .section1 .slide-button .button {
        width: 100%;
        font-size: 11.5px;
        display: flex;
        justify-content: center;
    }
}